In [1]:
%matplotlib inline
import pandas as pd
from pandas import DataFrame, Series
import numpy as np

In [4]:
url = '../data/first-look-vc/SaaS-july614.csv'

In [5]:
data = pd.read_csv(url)
print data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 280 entries, 0 to 279
Data columns (total 11 columns):
DataFox Id          280 non-null object
Name                280 non-null object
Top Keywords        279 non-null object
Year Founded        226 non-null float64
Exit Status         15 non-null object
Location            111 non-null object
Score               75 non-null float64
Revenue Estimate    64 non-null object
Private Funding     81 non-null float64
Headcount           280 non-null object
Web Traffic         159 non-null float64
dtypes: float64(4), object(7)
memory usage: 26.2+ KB
None

In [9]:
data[:5]

,DataFox Id,Name,Top Keywords,Year Founded,Exit Status,Location,Score,Revenue Estimate,Private Funding,Headcount,Web Traffic
0,5130efcc8989846a360017f0,Diversity Limited,"content, web development, saas, enterprise sof...",2007,NaN,NaN,NaN,NaN,NaN,"=""1-10""",NaN
1,5130efd08989846a3600225a,Qrimp,"application platforms, software, saas, paas, d...",2006,NaN,NaN,NaN,NaN,NaN,"=""Unknown""",436
2,5130efd28989846a36002872,Xcerion,"webos, web development, software, cloud comput...",2001,NaN,NaN,937,> $7m,15340000,"=""11-50""",1004
3,5130efd78989846a360039b0,Big Blue Q,"file sharing, enterprises, social network medi...",2008,NaN,"Delaware, OH",854,> $2m,NaN,"=""11-50""",NaN
4,5130efd98989846a36003d22,Intera,"video on demand, project management, crm, soft...",NaN,NaN,NaN,NaN,NaN,NaN,"=""11-50""",NaN

In [12]:
data = data[pd.notnull(data['Location'])]
data[:5]
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 111 entries, 3 to 277
Data columns (total 11 columns):
DataFox Id          111 non-null object
Name                111 non-null object
Top Keywords        111 non-null object
Year Founded        92 non-null float64
Exit Status         10 non-null object
Location            111 non-null object
Score               34 non-null float64
Revenue Estimate    27 non-null object
Private Funding     43 non-null float64
Headcount           111 non-null object
Web Traffic         79 non-null float64
dtypes: float64(4), object(7)
memory usage: 10.4+ KB