In [2]:
%matplotlib inline
import pandas as pd
from pandas import DataFrame, Series
import numpy as np

In [3]:
url = '../data/first-look-vc/SaaS-july614.csv'

In [4]:
data = pd.read_csv(url)
print data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 280 entries, 0 to 279
Data columns (total 11 columns):
DataFox Id          280 non-null object
Name                280 non-null object
Top Keywords        279 non-null object
Year Founded        226 non-null float64
Exit Status         15 non-null object
Location            111 non-null object
Score               75 non-null float64
Revenue Estimate    64 non-null object
Private Funding     81 non-null float64
Headcount           280 non-null object
Web Traffic         159 non-null float64
dtypes: float64(4), object(7)
memory usage: 26.2+ KB
None

In [5]:
data[:5]

,DataFox Id,Name,Top Keywords,Year Founded,Exit Status,Location,Score,Revenue Estimate,Private Funding,Headcount,Web Traffic
0,5130efcc8989846a360017f0,Diversity Limited,"content, web development, saas, enterprise sof...",2007,NaN,NaN,NaN,NaN,NaN,"=""1-10""",NaN
1,5130efd08989846a3600225a,Qrimp,"application platforms, software, saas, paas, d...",2006,NaN,NaN,NaN,NaN,NaN,"=""Unknown""",436
2,5130efd28989846a36002872,Xcerion,"webos, web development, software, cloud comput...",2001,NaN,NaN,937,> $7m,15340000,"=""11-50""",1004
3,5130efd78989846a360039b0,Big Blue Q,"file sharing, enterprises, social network medi...",2008,NaN,"Delaware, OH",854,> $2m,NaN,"=""11-50""",NaN
4,5130efd98989846a36003d22,Intera,"video on demand, project management, crm, soft...",NaN,NaN,NaN,NaN,NaN,NaN,"=""11-50""",NaN

In [14]:
#dropping records without a location & private funding data
data = data[pd.notnull(data['Location'])]
data = data[pd.notnull(data['Private Funding'])]
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43 entries, 12 to 272
Data columns (total 11 columns):
DataFox Id          43 non-null object
Name                43 non-null object
Top Keywords        43 non-null object
Year Founded        40 non-null float64
Exit Status         7 non-null object
Location            43 non-null object
Score               21 non-null float64
Revenue Estimate    7 non-null object
Private Funding     43 non-null float64
Headcount           43 non-null object
Web Traffic         39 non-null float64
dtypes: float64(4), object(7)
memory usage: 4.0+ KB

In [13]:
data[:5]

,DataFox Id,Name,Top Keywords,Year Founded,Exit Status,Location,Score,Revenue Estimate,Private Funding,Headcount,Web Traffic
12,5130f0098989846a3600d448,JRapid,"web development, software, applications, cloud...",2008,private,"Sunnyvale, CA",NaN,NaN,420000,"=""11-50""",670
21,5130f02c8989846a360149d0,Waspit,"reviews and recommendations, payments, banking...",2012,NaN,"New York, NY",NaN,NaN,3000000,"=""11-50""",1585
26,5130f0368989846a36016b94,Continuent,"consumer electronics, hardware + software, ope...",2004,deadpooled,"San Jose, CA",NaN,> $7m,5750000,12,10792
40,5130f05d8989846a3601f8d2,SharePlow,"file sharing, curated web, graphics, paas, gov...",2009,NaN,"Omaha, NE",NaN,NaN,650000,"=""1-10""",0
58,5130f0798989846a36025684,Carvoyant,"big data, location based services, automotive,...",2011,private,"Tampa, FL",910,> $1m,0,"=""1-10""",2054

In [18]:
#location counts
data['Location'].value_counts()

New York, NY           6
San Francisco, CA      5
Mountain View, CA      3
Atlanta, GA            2
Boulder, CO            2
Madison, WI            2
San Francisco          2
Cambridge, MA          2
Pleasanton, CA         1
Redwood City, CA       1
Palo Alto, CA          1
San Jose, CA           1
Seattle, WA            1
Wilmington, DE         1
Reading UK             1
East Palo Alto, CA     1
Encinitas, CA          1
San Diego, CA          1
Chicago, IL            1
Omaha, NE              1
Dallas, TX             1
Tampa, FL              1
Rolling Meadows, IL    1
Ellicott City, MD      1
Sunnyvale, CA          1
Coon Rapids, MN        1
Edison Center, FL      1
dtype: int64