In [2]:
%matplotlib inline
import pandas as pd
from pandas import DataFrame, Series
import numpy as np

In [3]:
url = '../data/first-look-vc/SaaS-july614.csv'

In [4]:
data = pd.read_csv(url)
print data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 280 entries, 0 to 279
Data columns (total 11 columns):
DataFox Id          280 non-null object
Name                280 non-null object
Top Keywords        279 non-null object
Year Founded        226 non-null float64
Exit Status         15 non-null object
Location            111 non-null object
Score               75 non-null float64
Revenue Estimate    64 non-null object
Private Funding     81 non-null float64
Headcount           280 non-null object
Web Traffic         159 non-null float64
dtypes: float64(4), object(7)
memory usage: 26.2+ KB
None

In [5]:
data[:5]

,DataFox Id,Name,Top Keywords,Year Founded,Exit Status,Location,Score,Revenue Estimate,Private Funding,Headcount,Web Traffic
0,5130efcc8989846a360017f0,Diversity Limited,"content, web development, saas, enterprise sof...",2007,NaN,NaN,NaN,NaN,NaN,"=""1-10""",NaN
1,5130efd08989846a3600225a,Qrimp,"application platforms, software, saas, paas, d...",2006,NaN,NaN,NaN,NaN,NaN,"=""Unknown""",436
2,5130efd28989846a36002872,Xcerion,"webos, web development, software, cloud comput...",2001,NaN,NaN,937,> $7m,15340000,"=""11-50""",1004
3,5130efd78989846a360039b0,Big Blue Q,"file sharing, enterprises, social network medi...",2008,NaN,"Delaware, OH",854,> $2m,NaN,"=""11-50""",NaN
4,5130efd98989846a36003d22,Intera,"video on demand, project management, crm, soft...",NaN,NaN,NaN,NaN,NaN,NaN,"=""11-50""",NaN

In [7]:
#dropping records without a location
data = data[pd.notnull(data['Location'])]
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 111 entries, 3 to 277
Data columns (total 11 columns):
DataFox Id          111 non-null object
Name                111 non-null object
Top Keywords        111 non-null object
Year Founded        92 non-null float64
Exit Status         10 non-null object
Location            111 non-null object
Score               34 non-null float64
Revenue Estimate    27 non-null object
Private Funding     43 non-null float64
Headcount           111 non-null object
Web Traffic         79 non-null float64
dtypes: float64(4), object(7)
memory usage: 10.4+ KB

In [8]:
data[:5]

,DataFox Id,Name,Top Keywords,Year Founded,Exit Status,Location,Score,Revenue Estimate,Private Funding,Headcount,Web Traffic
3,5130efd78989846a360039b0,Big Blue Q,"file sharing, enterprises, social network medi...",2008,NaN,"Delaware, OH",854,> $2m,NaN,"=""11-50""",NaN
6,5130efe08989846a36005520,ForeSoft,"curated web, cloud computing, databases, paas,...",2001,NaN,"Lake Zurich, IL",NaN,> $2m,NaN,"=""11-50""",896
8,5130efe28989846a36005c0e,ElectricApps,"cloud computing, software, paas, custom softwa...",2007,NaN,"Edgewater, CO",NaN,> $2m,NaN,"=""11-50""",NaN
9,5130eff28989846a36008b2a,NewServers,"web hosting, dedicated servers, bare metal clo...",2007,NaN,"Fort Lauderdale, FL",876,> $7m,NaN,"=""11-50""",0
12,5130f0098989846a3600d448,JRapid,"web development, software, applications, cloud...",2008,private,"Sunnyvale, CA",NaN,NaN,420000,"=""11-50""",670

In [9]:
#location counts
data['Location'].value_counts()

San Francisco, CA      15
New York, NY            7
Mountain View, CA       5
San Francisco           4
Atlanta, GA             3
Dallas, TX              3
Palo Alto, CA           2
Cambridge, MA           2
San Jose, CA            2
Fort Collins, CO        2
Boulder, CO             2
Chicago, IL             2
Los Angeles, CA         2
Madison, WI             2
Sunnyvale, CA           2
Fort Lauderdale, FL     2
Reading UK              1
San Diego, CA           1
New York City           1
New Berlin, WI          1
Moscow                  1
Lewes, DE               1
Santa Margarita, CA     1
Coon Rapids, MN         1
Waldorf, MD             1
Salt Lake City, UT      1
Portland, OR            1
Rolling Meadows, IL     1
Wilmington, DE          1
Encinitas, CA           1
                       ..
Mingo Junction, OH      1
Scottsdale, AZ          1
Chesterfield, MO        1
Woodinville, WA         1
Ellicott City, MD       1
Pleasanton              1
Walnut, CA              1
Lafayette, IN           1
East Palo Alto, CA      1
Omaha, NE               1
Redwood City, CA        1
Berkeley, CA            1
Delaware, OH            1
Bartlett, IL            1
Plains, TX              1
Grays Lake, IL          1
Tokyo                   1
Novato, CA              1
San Mateo, CA           1
Harrisburg, PA          1
Coppell, TX             1
Miami, FL               1
Riverdale, IL           1
Lake Zurich, IL         1
San Diego               1
Mobile, AL              1
Edgewater, CO           1
Pleasanton, CA          1
Santa Clara, CA         1
Edison Center, FL       1
dtype: int64